<div>
  <h2>Bookness</h2>
  <a routerLink="login">Login</a>||||||||
  <a routerLink="adminregister">AdminRegister</a>|||||||
  <a routerLink="userlogin">UserLogin</a>|||||||||
  <a routerLink="userRegister">UserRegister</a>|||||||
  <a routerLink="DisplayBooks">DisplayBooks</a>
  <router-outlet></router-outlet>
</div>