<div>
    <form #registerRef="ngForm" (ngSubmit)="storeAdmin(registerRef)" class="form-group">
        <label>AdminName</label>
        <input type="text" name="adminname" ngModel class="form-control"/><br/>
        <label>Password</label>
        <input type="password" name="password" ngModel class="form-control"/><br/>
        <input type="submit" value="Register" class="btn btn-success"/>
        <input type="reset" class="btn btn-info"/>
    </form>
    <!-- <input type="button" value="Display Product"
    (click)="loadProdcuts()"/> -->
    <br/>
    {{storeMsg}}
</div>

