<div>
    <input type="button" value="Display Books"
    (click)="loadBooks()"/> 
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>BookName</th>
        <th>Generes</th>
        <th>Books Images</th>
    </tr>
    <tr *ngFor="let books of books">
        <td>{{books.id}}</td>
        <td>{{books.name}}</td>
        <td>{{books.generes}}</td>
        <td><img src={{books.url}} width="200px" height="200px"/></td>
        
    </tr>
</table>
</div>
