<div>
    <h2>Welcome to Home Page {{adminName}}</h2>

    <input type="button" value="logout" (click)="logout()"/>
    <br/>
    <hr/>
</div>
<div>
    <form #usersRef="ngForm" (ngSubmit)="storeUser(usersRef)" class="form-group">
        <label>UId</label>
        <input type="number" name="uid" ngModel class="form-control"/><br/>
        <label>User Name</label>
        <input type="text" name="username" ngModel class="form-control"/><br/>
        <label>Password</label>
        <input type="password" name="password" ngModel class="form-control"/><br/>
        <input type="submit" value="store User" class="btn btn-success"/>
        <input type="reset" class="btn btn-info"/>
    </form><br/>
    <br/>
    {{storeMsg}}
    <hr/>
     <input type="button" value="Display Users"
    (click)="loadUsers()"/> 
    <br/>
    <div *ngIf="flag">
        <h2>Update User</h2>
        <form (ngSubmit)="updateUserName()" class="form-group">
            <label>UId</label>
            <input type="number" name="uid" [(ngModel)]="uid" readonly class="formcontrol"/><br/>
            <label>User Name</label>
            <input type="text" name="username" [(ngModel)]="username"/><br/>
            <input type="submit" value="update user"/>
            <input type="reset" value="reset"/>
        </form>
        <br/>
        {{updateMsg}}
        <hr/>
    
    </div>
    <table class="table table-striped">
        <tr>
            <th>UId</th>
            <th>UserName</th>
            <th>Delete User</th>
            <th>Update User</th>
        </tr>
        <tr *ngFor="let users of users">
            <td>{{users.uid}}</td>
            <td>{{users.username}}</td>
            <td><input type="button" value="delete" (click)="deleteUser(users.uid)" class="btn btn-primary"/></td> 
            <td><input type="button" value="update" (click)="updateUser(users)" class="btn btn-secondary"/></td>
            
        </tr>
    </table>
    <br/>
    {{deleteMsg}}
</div>
<div>
    <form #booksRef="ngForm" (ngSubmit)="storeBook(booksRef)" class="form-group">
        <label>Id</label>
        <input type="number" name="id" ngModel class="form-control"/><br/>
        <label>Books Name</label>
        <input type="text" name="name" ngModel class="form-control"/><br/>
        <label> Generes</label>
        <input type="text" name=" generes" ngModel class="form-control"/><br/>
        <label>Image URL</label>
        <input type="url" name="url" ngModel class="form-control"/><br/>
        <input type="submit" value="store Book" class="btn btn-success"/>
        <input type="reset" class="btn btn-info"/>
    </form><br/>
    <br/>
    {{bookstoreMsg}}
    <hr/>
     <input type="button" value="Display Books"
    (click)="loadBooks()"/> 
    <br/>
    <div *ngIf="flag1">
        <h2>Update Books</h2>
        <form (ngSubmit)="updateBookName()" class="form-group">
            <label>Id</label>
            <input type="number" name="id" [(ngModel)]="id" readonly class="formcontrol"/><br/>
            <label>Book Name</label>
            <input type="text" name="name" [(ngModel)]="name"/><br/>
            <input type="submit" value="update book"/>
            <input type="reset" value="reset"/>
        </form>
        <br/>
        {{bookupdateMsg}}
        <hr/>
    
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>BookName</th>
            <th>Generes</th>
            <th>Books Images</th>
            <th>Delete Book</th>
            <th>Update Book</th>
        </tr>
        <tr *ngFor="let books of books">
            <td>{{books.id}}</td>
            <td>{{books.name}}</td>
            <td>{{books.generes}}</td>
            <td><img src={{books.url}} width="200px" height="200px"/></td>
            <td><input type="button" value="delete" (click)="deleteBook(books.id)" class="btn btn-primary"/></td> 
            <td><input type="button" value="update" (click)="updateBook(books)" class="btn btn-secondary"/></td>
            
        </tr>
    </table>
    <br/>
    {{bookdeleteMsg}}
</div>





